---
import BackToHome from "../../components/BackToHome.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Medeatec">
    <main class="w-full flex flex-col justify-center px-5 sm:px-0">
      <div class="mt-5">
        <img
          class="max-h-40 w-full object-contain"
          src="https://medeatec.bitbucket.io/images/logos/medeatec.png"
          alt="medeatec-logo"
        />
      </div>
      <div class="mx-auto text-center my-5">
        <h1 class="text-textPrimary font-extrabold sm:text-5xl md:text-5xl">
          Medeatec
        </h1>
        <h2 class="sm:text-5xl md:text-5xl">Fullstack Engineer</h2>
      </div>
      <div class="max-w-screen-md mx-auto">
        <ul class="xl:text-xl text-left space-y-2">
          <li>
            Designed and developed software systems with NodeJS
          </li>
          <li>Collaborated with cross-functional teams to develop and
              implement features.
            </li>
            <li>Collaborated with cross-functional teams to develop and
                implement features.
              </li>
              <li>Engineered and maintained robust applications</li>
              <li>Wildcard developer (Across multiple projects)</li>
        </ul>
        <br>
        <h3>Project name: <b>Omega</b></h3>
  
        <div class="px-6 pt-4 pb-2 mt-auto h-36">
          Technology Stack:
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
              AngularJS
          </span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
              NodejS
          </span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
              Material Angular
          </span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
              Typescript
          </span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            ReactJS
        </span>
        </div>
      </div>
      <BackToHome/>
    </main>
  </Layout>