---
import BackToHome from "../../components/BackToHome.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Thomson Reuters">
  <main class="w-full flex flex-col justify-center px-5 sm:px-0">
    <div class="mt-5">
      <img
        class="max-h-40 w-full"
        src="https://thomsonreutersar.vtexassets.com/assets/vtex/assets-builder/thomsonreutersar.store-theme/1.0.15/thomson-reuters-logo___ef8775309927c4fa7db67fe9d64b9788.svg"
        alt="thomson-logo"
      />
    </div>
    <div class="mx-auto text-center my-5">
      <h1 class="text-textPrimary font-extrabold sm:text-5xl md:text-5xl">
        Thomson Reuters
      </h1>
      <h2 class="sm:text-5xl md:text-5xl">Frontend developer</h2>
    </div>
    <div class="max-w-screen-md mx-auto">
      <ul class="xl:text-xl text-left space-y-2">
        <li>
            Developed and implemented innovative solutions using
            technologies such as Angular 2+, resulting in improved
            performance and efficiency.
        </li>
        <li>
            Created comprehensive documentation and training materials for
            applications.
        </li>
        <li>Collaborated with cross-functional teams to develop and
            implement features.</li>
      </ul>
      <br>
      <h3>Project name: <b>ThomsonERP</b></h3>

      <div class="px-6 pt-4 pb-2 mt-auto h-36">
        Technology Stack:
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Angular2+
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Wijjmo Library
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Material Angular
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Azure
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Github actions
        </span>
      </div>
    </div>
    <BackToHome/>
  </main>
</Layout>
