---
import BackToHome from "../../components/BackToHome.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Wind River Systems">
  <main class="w-full flex flex-col justify-center">
    <div class="mt-5">
      <img
        class="max-h-40 w-full"
        src="https://www.windriver.com/themes/wr/global/images/svg/logo-white.svg"
        alt="wr-logo"
      />
    </div>
    <div class="mx-auto text-center my-5">
      <h1 class="text-textPrimary font-extrabold sm:text-5xl md:text-5xl">
        Wind River Systems
      </h1>
      <h2 class="sm:text-5xl md:text-5xl">Technical lead</h2>
    </div>
    <div class="max-w-screen-md mx-auto">
      <ul class="xl:text-xl text-left space-y-2">
        <li>
          Led a team to develop and deploy applications using Angular 2+ NodeJs
          Kubernetes, Docker, enhancing user experience and functionality.
        </li>
        <li>
          Led a diverse team of over 20 professionals across the globe, managing
          projects utilizing multiple technology stacks fostering collaboration
          and ensuring timely delivery of high-quality solutions.
        </li>
        <li>Analyzed and optimized existing systems</li>
        <li>Engineered and maintained robust applications</li>
        <li>
          Engineered cloud-based application for deploying hardware simulation
        </li>
      </ul>
      <br>
      <h3>Project name: <b>AIstudio</b></h3>
      <h3><a href="https://www.windriver.com/studio">https://www.windriver.com/studio</a></h3>

      <div class="px-6 pt-4 pb-2 mt-auto h-36">
        Technology Stack:
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Docker
        </span> <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            kubernetes
        </span> <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Helms
        </span> <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Jenkins
        </span> <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Groovy
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Angular2+
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            AWS
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Terraform
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            NodeJS
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Simics
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Qemu
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Kafka
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Postgres
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Linux
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Bash
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            Typeorm
        </span>
      </div>
    </div>
    <BackToHome/>
  </main>
</Layout>
