---
import PrevSectionButton from "./PrevSectionButton.astro";

---
<footer class="text-center py-6 bg-primary text-white relative bottom-0 w-full mt-10">
    <PrevSectionButton sectionId="#introduction"/>

    <p>&copy; 2024 Francisco Bogarin. All rights reserved.</p>
</footer>