---

---

<header class="text-textPrimary">
  <h1 class="text-center font-semibold">Crafting innovative solutions with creativity and code.</h1>
  <p>
    As a Technical Lead at Avenga, I have over five years of experience in
    developing and delivering high-quality web applications for various clients
    in the information technology and services industry. I am an expert in
    Node.js and Angular, with proficiency in Docker, Kubernetes, AWS, among
    other technologies.
  </p>
  <p>
    My mission is to provide technical leadership, guidance, and support to my
    team, ensuring that our web applications meet the highest standards of
    security, performance, and usability. I also collaborate with other teams
    and stakeholders to understand their needs, design solutions, and implement
    best practices. I am passionate about learning new technologies, solving
    complex problems, and creating innovative products that add value to our
    customers and users.
  </p>
</header>