---
 interface SectionButtonProps {
    sectionId: string;
 }

 const {sectionId} = Astro.props;
---

<a class="Ebg-primary animate-bounce text-textPrimary absolute w-full z-20 bottom-16" href={sectionId}>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mx-auto" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 2a1 1 0 01.707.293l7 7a1 1 0 01-1.414 1.414L10 4.414 3.707 10.707A1 1 0 012.293 9.293l7-7A1 1 0 0110 2z" clip-rule="evenodd" />
      </svg>
</a>